.container-fluid
  %title Instructions

  %h1 Welcome to The Shoe Store
  %br
  %p this application has been created as a homework assignment for candidates |
  applying for Testing Roles.  In the same way you wouldn't hire a musician before hearing some notes, |
  we'd like to see you play a little bit for us. It shouldn't take very long to finish, |
  and we hope it is an enjoyable and challenging task. |

  %br
  .backstory
    %h2 The backstory
    %p Shoe Store has established itself as the newest source for getting the latest shoe fashions. |
    Founded by a group of elite fasion consultants a couple of hours ago and growing very rapidly, |
    The Shoe Store has just hired their first Sales Director, Mark.  Mark did not miss a beat; |
    he put together a team to write their first website. Lacking an online presence when |
    you're selling any kind of product these days is unacceptable!  So, since the first release |
    has to get out the door as soon as possible, The Shoe Site has agreed to not worry about processing credit cards, |
    cross-selling or even doing any kind of content management for now: it's just displaying the newest shoe releases, |
    and nothing else. The UI needs to be finished, and currently has no bells and whistles: |
    enough to be able to display each months new releases properly, and that's about it. It needs to behave relatively |
    similar across all commonly used browsers in use today, but doesn't have to be pixel-perfect. |


  %br
  .stories
    .story_1
      %h2 Story 1: Monthly display of new releases
      %br
      %p In order to view upcoming shoes being released every month |
        As a user of the Shoe store |
        I want to be able to visit a link for each month and see the shoes being released |

      %br
      .acceptance_criteria
        %h3 Acceptance Criteria
        %br
        %ul
          %li Month should display a small Blurb of each shoe
          %li Month should display an image each shoe being released
          %li Each shoe should have a suggested price pricing

    .story_3
      %h2 Story 2: Submit email for reminder
      %br
      %p In order to be reminded of upcoming shoe releases |
      As a user of the Shoe Store |
      I want to be able to submit my email address |

      %br
      .acceptance_criteria
        %h3 Acceptance Criteria
        %br
        %ul
          %li There should be an area to submit email address
          %li on successful submission of a valid email address user should receive a message |
          Thanks! We will notify you of our new shoes at this email: users email address |

