%h2 Welcome to Shoe Site!

%form{:action=>"/results", :method=>'post'}
  %h3{:id=>'form_heading'} Pre-Order your shoes today

  - unless @message.nil?
    %p #{@message}

  %dl
    %dt
      %label{:for => 'release_month'} Select your Pre-Order Month
    %dd
      %select#release_month{:name=>"post[release_month]"}
        %option{:value => "Select Month"}= "Select Month"
        - @month_names.each do |month|
          %option{:value => month}= month

  -#%dl
  -#  %dt
  -#    %label{:for => 'promotional_code'} Promotional Code
  -#  %dd
  -#    %input#promotional_code{:type => 'text', :maxlength => '255', :name => 'promotional_code'}/

  %dl
    %dt
    %dd
      %input#search_button{:type=>'submit', :value=>'Search'}
