%h2 Welcome to Shoe Store!

%form.shoe_search{:action=>"/brand", :method=>'post'}
  %h3.form_heading Pre-Order your shoes today
  %dl
    %dt
      %label{:for => 'brand'} Choose a brand
    %dd
      %select#brand.brand_select{:name=>"brand"}
        %option{:value => "Select Brand"}= "Select Brand"
        - @brand_names.each do |brand|
          %option{:value => brand.name}= brand.name
      %input#search_button.button{:type=>'submit', :value=>'Search'}
