.title
  %h2 Open Issues

#issues_list
  - @issues.each do |issue|
    .issue
      .issue_title
        = issue.title
      .issue_severity
        = issue.severity
      .issue_description
        = issue.description