// This is a sassified version of Eric Meyer's latest reset.css
// http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/

html
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

body
  :margin 0 auto
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :line-height 1
  :width 1000px

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

blockquote
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :quotes none

pre, a, abbr, acronym, address, big, cite, code
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

del
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :text-decoration line-through

dfn, em, font, img
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

ins
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :text-decoration none

kbd
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

q
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :quotes none

s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

ol, ul
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :list-style none

li, fieldset, form, label, legend
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

table
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :border-collapse collapse
  :border-spacing 0

caption, tbody, tfoot, thead, tr, th, td
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

*:focus
  :outline 0

input[type='text'], textarea
  :padding 4px
  :color #aaa
  :border thin solid #ccc

select
  :padding 4px

input[type='submit']
  :padding 3px
  :cursor pointer

input[type='text']:hover, input[type='text']:focus, textarea:hover, textarea:focus
  :background-color #ffffe0

#header_nav, #home_link_div
  :display block
  :margin 10px
  :padding 0
  :text-align center

#header_nav li
  :margin 10px 10px
  :display inline-block
  :list-style-type none
  :font-weight bold
  &:last-child
    margin-right: 0px

.title
  :padding-bottom 10px

.shoe_result
  :border thin solid #ccc
  :padding 10px
  :margin-bottom 10px

.shoe_result_label
  :font-weight bold
  :text-align right
  :padding-right 5px
  :width 104px

.notice
  :color #ff4500
  :font-weight bold
  :padding-bottom 10px

.left
  :float left

.right
  :float right

.shoe_result_row
  :display block
  :padding-top 10px

#new_issue_form
  :margin-left 10px

#new_issue_form form .left, #new_issue_form form .right
  :border none

.new_issue_row
  :padding-top 10px

.new_issue_row *
  :vertical-align middle

.new_issue_row label
  :padding-right 10px